*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.ver-borde{
    border: 2px solid red;
}
.principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}
.principal h1 {
    text-align: center;
    padding: 20px;
    font-size: 55px;
}
.principal img {
    width: 100%;
    object-fit: cover;
}
.descripcion{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content:center;
    gap: 20px;
    padding: 50px;
    max-width: 100%;
    width: 100%;

}
.descripcion p{
    flex: 1;
    font-size: large;
    object-fit: cover;
    height: auto;
    max-width: 480px;

}
.descripcion img{
    max-width: 400px;
    width: 100%;
    height: auto;
}
.caracteristicas{
    display: flex;
    background-color: rgb(54, 48, 41);
    gap: 20px;
    padding: 10px;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
    font-size: 20px;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.items i{
    font-size: 50px;
}
.items p{
    font-size: 25px;
}
.pictures{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.pictures img{
    flex: 1;
    object-fit: cover;  
    max-width: 300px;
    width: auto;
    height: 200px;
}
footer{
    background-color: rgb(54, 48, 41);
    font-size: large;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 50px;
}