*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.card-img-top {
    height: 250px;
    object-fit: cover;
}    
 .logo-img {
    height: 30px;
    width: auto; 
}